/* Add these styles to handle autofill */
@keyframes onAutoFillStart {
  from {/**/}
  to {/**/}
}

input:-webkit-autofill {
  animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: var(--foreground);
}